page-login {

    .bot{
          border: 1px solid  #4A86E8;
          border-radius: 200px;
          

    }
    .txt{
        background-color: #607D8B;

        border: 1px solid #607D8B;
        border-radius: 70px;

  }

 $button-md-text-color: #222;

}
